.intro__container {
    justify-content: flex-end;
    flex-direction: column;
    height: 45vh;
}

.intro__container h1 {
    max-width: 350px;
    text-align: center;
}

.intro__container img {
    width: 350px;
    height: 210px;
    z-index: -1;
    bottom: -1em;
}


@media (min-width: $breakpoint__mobile) {

    .intro__container img {
        z-index: -1;
        bottom: -1em;
        scale: 1.25;
    }
    .intro__container h1 {
        max-width: 468.7px;
    }
    .intro__container {
        justify-content: flex-end;
        flex-direction: column;
        height: 50vh;
    }
}

@media (min-width: $breakpoint__tablet) {

    .intro__container {
        justify-content: center;
        flex-direction: column;
        height:80vh;
    }
    
    .intro__container h1 {
        max-width: $breakpoint__tablet;
        text-align: left;
        margin-left: 0.5em;
    }
    
    .intro__container img {
        z-index: -1;
        bottom: -1em;
        top: 50vh;
        justify-self: center;
        transform: translateX(4em);
        scale: 1.75;
        margin-left: 0.5em;
    }
}