$breakpoint__tablet: 940px;
$black: #231F20;
$orange: #FF825E;

.menu {
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.menu ul{
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
}

.menu a svg {
    height: 2.5em;
    width: 2.5em;
    margin: 1.825em;
}

.menu .underlines {
    cursor: pointer;
}

.menu__active {
    background: $black;
    height: 100vh;
    mix-blend-mode: normal;
    position: absolute;
    z-index: 1;
}

.menu__active ul {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__active li {
    margin: 1.825em;
}

.menu__active ul li a{
    visibility: visible;
    color: $orange;
    text-decoration: none;
    font-size: 4em;
}

.menu__underscore--animation--x  {
    animation: rotateX 0.3s ease-in-out forwards;
}

.menu__underscore--animation--rx  {
    animation: rotateX__reverse 0.3s ease-in-out forwards;
}

@keyframes rotateX {
    0% {
        d: path("M9.61798 2.34998L45.618 2.34998");
    }
    100%{
        d: path("M2 33.8442L39.4192 2.15615");
        scale: 0.75;
    }
}

@keyframes rotateX__reverse {
    0% {d: path('M1.61804 16.35L45.2038 16.35');
    }
    100%{
        d: path("M2.19238 2L38.8302 33.6378");
        scale: 0.75;
    }
}

/*-- X to menu animation --*/

.reverse__menu__underscore--animation--x  {
    animation: reverse__rotateX__reverse 0.3s ease-in-out forwards;
}

.reverse__menu__underscore--animation--rx  {
    animation: reverse__rotateX 0.3s ease-in-out forwards;
}

@keyframes reverse__rotateX {
    0%{
        d: path("M2 33.8442L39.4192 2.15615");
        scale: 0.75;
    }
    100% {
        d: path("M9.61798 2.34998L45.618 2.34998");
        scale: 1;
    }
}

@keyframes reverse__rotateX__reverse {
    0%{
        d: path("M2.19238 2L38.8302 33.6378");
        scale: 0.75;
    }
    100% {
        d: path('M1.61804 16.35L45.2038 16.35');
        scale: 1;
    }
}


@media (min-width: $breakpoint__tablet) {

    .menu__scroll ul li {
        visibility: hidden;
        right: 1.825em;
    }

    .menu {
        position: fixed;
        width: screen;
    }
    .menu ul{
        visibility: visible;
    }
    .menu ul li {
        display: inline-block;
        margin: 1.825em;
    }
    .menu ul li a { 
        color: $orange;
        text-decoration: none;
    }

    .menu .underlines {
        position: absolute;
        top: 1.825em;
        right: 11.6em;
    }

    .menu .underlines .bottom__line--vis {
        visibility: hidden;
    }

    .right {
        position: absolute;
        right: 0;
        top: 1.825em;
    }
}