
#line__bottom {
    visibility: visible;
}

.menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
}

.menu ul{
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
    transform: translateX(100vw);
}

.menu a svg {
    height: 2.5em;
    width: 2.5em;
    margin: 1.825em;
    position: absolute;
}

.menu .underlines {
    position: absolute;
    right: 1.825em;
    top: 2.225em;
    cursor: pointer;
}

.menu__active {
    opacity: 90%;
    position: fixed;
    z-index: 4;
    background: #231F20;
    height: 100vh;
    width: 100vw;
}

.menu__active ul {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    visibility: visible;
    animation: slide__in 0.3s ease-in-out forwards;
}

.menu__active li {
    margin: 1.825em;
}

.menu__active ul li a{
    color: $orange;
    text-decoration: none;
    font-size: 4em;
    text-align: center;
}

.menu__active a svg {
    z-index: 3;
}

.menu__underscore--animation--x  {
    animation: rotateX 0.3s ease-in-out forwards;
}

.menu__underscore--animation--rx  {
    animation: rotateX__reverse 0.3s ease-in-out forwards;
}

@keyframes rotateX {
    0% {
        d: path("M9.61798 2.34998L45.618 2.34998");
    }
    100%{
        d: path("M2 33.8442L39.4192 2.15615");
        scale: 0.75;
    }
}

@keyframes rotateX__reverse {
    0% {d: path('M1.61804 16.35L45.2038 16.35');
    }
    100%{
        d: path("M2.19238 2L38.8302 33.6378");
        scale: 0.75;
    }
}

/*-- X to menu animation --*/

.reverse__menu__underscore--animation--x  {
    animation: reverse__rotateX__reverse 0.3s ease-in-out forwards;
}

.reverse__menu__underscore--animation--rx  {
    animation: reverse__rotateX 0.3s ease-in-out forwards;
}

@keyframes reverse__rotateX {
    0%{
        d: path("M2 33.8442L39.4192 2.15615");
        scale: 0.75;
    }
    100% {
        d: path("M9.61798 2.34998L45.618 2.34998");
        scale: 1;
    }
}

@keyframes reverse__rotateX__reverse {
    0%{
        d: path("M2.19238 2L38.8302 33.6378");
        scale: 0.75;
    }
    100% {
        d: path('M1.61804 16.35L45.2038 16.35');
        scale: 1;
    }
}

@keyframes slide__in {
    0%{
        transform: translateX(100vw);
    }
    100% {
       
        transform: translateX(0);
    }
}



@media (min-width: $breakpoint__tablet) {

    #line__bottom {
        visibility: hidden;
    }

    .menu ul{
        transform: translateX(0);
        visibility: visible;
    }
    .menu ul li {
        display: inline-block;
        padding: 1.825em;
    }
    .menu ul li a { 
        color: $orange;
        text-decoration: none;
    }

    .menu ul li a:hover {
        color: #0e6e92;
    }

    .menu .underlines {
        right: 13.425em;
    }

    .menu__scroll .menu ul {
        transform: translateX(100vw);
    }

    .menu__scroll .menu .underlines {
        animation: menuScrollHome 300ms forwards;
    }
    @keyframes menuScrollHome {
        0% {
            right: 13.425em;
            opacity: 30%;
        }
        100% {
            right: 1.825em;
            opacity: 100%;
        }
    }

    .menu__scroll #line__bottom {
        visibility: visible;
    }
    

}