
@use "fonts";
@use "reset";
@use "variables";
@use "menu";
@use "flickity.min";

/*--------------------------------------------------
Fonts
--------------------------------------------------*/

.font {

    &__staatliches {
        font-family: 'Staatliches', cursive;
        letter-spacing: 0.06em;
    }
    &__spacegrotesk--400 {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        letter-spacing: 0.06em;
    }
    &__spacegrotesk--700 {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 700;
        letter-spacing: 0.06em;
    }


}

.text {
    &__xl {
        font-size: 6em;
    }
    &__orange {
        color: var(--orange);
    }
    &__black {
        color: var(--black);
    }
    &__white {
        color: var(--white);
    }
}


/*--------------------------------------------------
Global
--------------------------------------------------*/

body {
    background: #F1F0F0;
}



/*--------------------------------------------------
Helper
--------------------------------------------------*/
    .flex {
        display: flex;
    }

    .flex__cols {
        flex-direction: column;
    }

    .items__center {
        align-items: center;
    }

    .justify__center {
        justify-content: center;
    }

    .justify__ends {
        justify-content: flex-end;
    }

    .justify__between {
        justify-content: space-between;
    }

    .inline__block {
        display: inline-block;
    }

    .blend__difference {
        mix-blend-mode: difference;
    }

    .position__relative {
        position: relative;
    }

    .position__absolute {
        position: absolute;
    }

    .position__fixed {
        position: fixed;
    }

    .rounded {
        border-radius: 1em;
    }

    .filter__shadow {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .visibility__hidden {
        visibility: hidden;
    }


/*--------------------------------------------------
Spacing
--------------------------------------------------*/

.m__30 {
    margin: 1.875em;
}

.mx__30 {
    margin: 0 1.875em;
}

.mx__auto {
    margin: 0 auto;
}

.w__screen {
    width: 100vw;
}

.h__screen {
    height: 100vh;
}

.w__100 {
    width: 100%;
}

.mb__10 {
    margin-bottom: 10em;
}

/*--------------------------------------------------
Intro
--------------------------------------------------*/

.intro__image {
    top: 6em;
    left: 18.5em;
    z-index: -1;
}

.intro__text {
    font-size: 6em;
}

.intro__text--orange {
    color: var(--orange);
}

.intro__text--black {
    color: var(--black);
}

.intro__text--white {
    color: var(--white);
}

.intro {
    margin-bottom: 10em;
}

.intro__height {
    height: 100vh;
}

.item__intro {
    align-items: center;
}

.carousel-cell {
width: 66%;
height: 200px;
margin-right: 10px;
background: #8C8;
border-radius: 5px;
counter-increment: carousel-cell;
}

@media (max-width: 940px) {
    /*-- menu media query --*/
    .menu__items {
        visibility: hidden;
    }

    .menu__fixed {
        position: fixed;
        top: 0;
    }

    .menu__height {
        height: 100vh;
    }

    .menu__underscore--visibility {
        visibility: visible;
    }

    .menu__underscore--position {
        right: 1.875em;
    }

    .menu__logo {
        position: absolute;
        height: 2.5em;
        width: 2.5em;
        top: 2em;
    }
    /*-- Intro media query --*/

    .intro {
        margin-bottom: 0;
    }

    .intro__height {
        height: 65vh;
    }

    .intro__text {
        font-size: 3em;
        margin-right: 0;
        text-align: center;
        margin-top: 5em;
    }
    .intro__image {
        height: 375px;
        width: 525px;
        top: -0.6em;
        left: -1.2em;
    }

    .intro__text--orange {
        color: var(--orange);
    }
    
    .intro__text--black {
        color: var(--white);
    }
    
    .intro__text--white {
        color: var(--orange);
    }

    .item__intro {
        align-items: flex-end;
    }

}

@media (max-width: 640px) {

    .intro__height {
        height: 50vh;
    }

    .item__intro {
        align-items: flex-end;
    }

    .intro__text {
        font-size: 2em;
        margin-right: 0;
        text-align: center;
        margin-top: 5em;
    }
    .intro__image {
        height: 250px;
        width: 350px;
        top: -0.6em;
        left: -1.2em;
    }
}


