@import "fonts";
@import "reset";
@import "variables";
@import "menu";



/*--------------------------------------------------
Fonts
--------------------------------------------------*/

.font {

    &__staatliches {
        font-family: 'Staatliches', cursive;
        letter-spacing: 0.06em;
    }
    &__spacegrotesk--400 {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        letter-spacing: 0.06em;
    }
    &__spacegrotesk--700 {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 700;
        letter-spacing: 0.06em;
    }


}

.text {
    &__xl {
        font-size: 6em;
    }
    &__orange {
        color: var(--orange);
    }
    &__black {
        color: var(--black);
    }
    &__white {
        color: var(--white);
    }
}


/*--------------------------------------------------
Global
--------------------------------------------------*/

body {
    background: #F1F0F0;
}



/*--------------------------------------------------
Helper
--------------------------------------------------*/
    .flex {
        display: flex;
        &__cols {
            flex-direction: column;
        }
    }

    .items__center {
        align-items: center;
    }

    .justify {
        &__center {
            justify-content: center;
        }
        &__ends {
            justify-content: flex-end;
        }
        &__between {
            justify-content: space-between;
        }
    }

    .position {
        &__relative {
            position: relative;
        }
        &__absolute {
            position: absolute;
        }
        &__fixed {
            position: fixed;
        }
    }

    .inline__block {
        display: inline-block;
    }

    .blend__difference {
        mix-blend-mode: difference;
    }

    .rounded {
        border-radius: 1em;
    }

    .filter__shadow {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .visibility__hidden {
        visibility: hidden;
    }


/*--------------------------------------------------
Spacing
--------------------------------------------------*/

.m {
    &__30 {
        margin: 1.875em;
    }
    &x__30 {
        margin: 0 1.875em;
    }
    &x__auto {
        margin: 0 auto;
    }
    &b__10 {
        margin-bottom: 10em;
    }
}


.w__screen {
    width: 100vw;
}

.h__screen {
    height: 100vh;
}

.w__100 {
    width: 100%;
}

.max__width--container {
    max-width: 1046px;
}

// /*--------------------------------------------------
// Intro
// --------------------------------------------------*/