@use "functions" as *;
@import "fonts";
@import "reset";
@import "variables";
@import "flickity";
@import "carousel";
@import "menu";
@import "intro";
@import "about";



/*--------------------------------------------------
Fonts
--------------------------------------------------*/

.font {

    &__staatliches {
        font-family: 'Staatliches', cursive;
        letter-spacing: 0.06em;
    }
    &__spacegrotesk--400 {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        letter-spacing: 0.06em;
    }
    &__spacegrotesk--700 {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 700;
        line-height: 1.3em;
    }


}

.text {
    &__md {
        font-size: 2em;
    }
    &__lg {
        font-size: 3em;
    }
    &__xl {
        font-size: 2em;
    }
    &__orange {
        color: $orange;
    }
    &__black {
        color: $white;
    }
    &__white {
        color: $white;
    }
    &__center {
        text-align: center;
    }
}

.intro .text__orange {
    color: $orange;
}
.intro .text__orange {
    color: $white;
}
.intro .text__orange {
    color: $orange;
}

.line__height--120 {
    line-height: initial;
}


/*--------------------------------------------------
Global
--------------------------------------------------*/

body {
    background: $white;
}



/*--------------------------------------------------
Helper
--------------------------------------------------*/
.flex {
    display: flex;
    &__cols {
        flex-direction: column;
    }
}

.items__center {
    align-items: center;
}

.justify {
    &__center {
        justify-content: center;
    }
    &__ends {
        justify-content: flex-end;
    }
    &__between {
        justify-content: space-between;
    }
}

.position {
    &__relative {
        position: relative;
    }
    &__absolute {
        position: absolute;
    }
    &__fixed {
        position: fixed;
    }
}

.inline__block {
    display: inline-block;
}

.blend__difference {
    mix-blend-mode: difference;
}

.rounded {
    border-radius: 1em;
}

.filter__shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.visibility__hidden {
    visibility: hidden;
}

.button__black {
    background: $black;
    padding: 15px 25px;
    border-radius: 1rem;
}

.button__black a {
    color: $white;
    text-decoration: none;
}

/*--------------------------------------------------
Spacing
--------------------------------------------------*/

.m {
    &__30 {
        margin: 1.875em;
    }
    &x__30 {
        margin: 0 1.875em;
    }
    &x__auto {
        margin: 0 auto;
    }
    &b__10 {
        margin-bottom: 10em;
    }
}


.w__screen {
    width: 100vw;
}

.w__100 {
    width: 100%;
}

.max__w--container {
    max-width: 1046px;
}


// /*--------------------------------------------------
// Intro
// --------------------------------------------------*/


@media (min-width: $breakpoint__mobile) {
    .text__xl {
        font-size: 3em;
    }
    .button__black {
        scale: 1.2;
        border-radius: 16px;
    }
    .button__black a {
        font-size: 1.2em;
    }
}

@media (min-width: $breakpoint__tablet) {
    .text__xl {
        font-size: 6em;
    }
    .text__white {
        color: $white;
    }
    .text__black {
        color: $black;
    }
    .line__height--120 {
        line-height: 120px;
    }
    .button__black a {
        font-size: 2em;
    }
}