.work__heading {
    height: 25vh;
}

.work__design {
    height: 100vh;
}

.work__design h2 {
    margin: 20% 0 0 15%;
    color: $black;
}

.work .text__md {
    font-size: 3em;
}

.work .projects .carousel {
    margin: 0;
}

.work .work__development .projects .carousel p, .carousel {
    color: $white;
}

.work__development .projects .carousel-cell {
    margin: 0;
    
}

.work__development {
    height: fit-content;
    background: $black;
    margin-top: 5%;
    padding-bottom: 5% ;
}
    
.work__development h2 {
    margin: 0 0 10% 15%;
    padding-top: 5%;
}

@media (max-width: $breakpoint__mobile) { 
    .work__design {
        height: 70vh;
    }
    .work__development {
        height: 70vh;
    }
    .work .text__md {
        font-size: 1em;
    }
}