.banner__container {
    width: fit-content; 
    height: fit-content;
}

.banner__container h1 {
    font-size: 6.5vw;
    bottom: 0;
    transform: translateY(-1em);
    width: 85vw;
    max-width: to_rem(1000);
}

.banner__image {
    object-fit: cover;
    aspect-ratio: 1000/400;
    border-radius: 1em;
    width: 85vw;
    height: 100vh;
    margin-top: 20vh;
    max-height: to_rem(400);
    max-width: to_rem(1000);
}



.about .carousel {
    margin: 2em 0;
}
.about .carousel-cell {
    padding: 1em;
}
.about__card h4, .about p {
    padding: 1em;
}

.about__card h2, .about__card h3 {
    padding: 1em 0.5em 0.5em 0.5em;
}

.about__card h2, .about__card p, .about__card h4, .about__card h1 {
    line-height: 1.25em;
}

.about .carousel-card h3 {
    font-size: 8em;
}

.about .carousel, .banner__container {
    opacity: 0;
    transform: translateY(-4vw);
}

.about__card {
    height: 80vh;
    width: 30vw;
    border-radius: 1em;
    background: $black;
    width: to_rem(350);;
    height: to_rem(550);
}

.about__card--content p {
    font-size: 1em;
    color: $white;
    margin: 1em;
}

.social__links {
    color: $white;
    text-decoration: underline;
    font-size: 1em;
    padding: 1em;
}

.schooling {
    margin-top: 2em;
}

.schooling svg {
    margin: 0 45%;
    rotate: 90deg;
}

.card__arrow--right {
    bottom: 1em;
    right: 1em;
}

.card__arrow--right svg{
    padding-left: 0.5em;
}


@media (max-width: $breakpoint__tablet) {
    .banner__image {
        max-height: to_rem(350);
        max-width: to_rem(1000);
    }
    
}

@media (max-width: $breakpoint__mobile) {
    .banner__image {
        max-height: to_rem(250);
        max-width: to_rem(350);

    }
    .banner__container h1 {
        font-size: 6.5vw;
        bottom: 0;
        transform: translateY(-1em);
        max-width: to_rem(350);
    }
}


@media (min-width: 1500px) {
    .banner__container h1 {
        font-size: 8em;
    }
}