
.projects .carousel {
    height: 100%;
    margin: 5% 0%;
}

.home .carousel, .work__development .carousel {
    opacity: 0;
}   

.projects .carousel-cell {
    width: fit-content;
    height: fit-content;
    border-radius: 1em;
    counter-increment: carousel-cell;
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects .carousel-cell p {
    margin-top: -3em;
    color: $black;
}

.projects .carousel a {
    text-decoration: none;
}

.projects .carousel-cell img {
    scale: 0.7;
    margin: 0em -2.5em;
}

@media (min-width: $breakpoint__mobile) { 
    .projects .carousel-cell img {
        scale: 0.8;
        margin: 0;
    }
    
        .carousel-cell {
        margin: 6% 0;
    }
    .projects .carousel-cell p {
        margin-top: -1em;
        color: $black;
    }
}

@media (min-width: $breakpoint__tablet) {
    .projects .carousel-cell img {
        scale: 1;
        margin: 0 4em;
    }

    .projects .carousel-cell p {
        margin-top: 1em;
        color: $black;
    }
}

