.story__explanation, .work__stages {
    padding: 10vh 0;
    .text__md {
        font-size: 1.4em;
    }
    
    @media (max-width: $breakpoint__tablet) {
        .text__xl {
            padding: 0.6em;
        }
    }

    @media (max-width: $breakpoint__mobile) {
        .text__md {
            font-size: 1em;
        }
    }

    line-height: 1.2em;
    .description__p {
        max-width: 95vw;
    }
    .text__md {
        line-height: 1.2em;
    }
    h2 {
        padding: 0.6em;
    }
    h3 {
        margin-top: 1em;
        padding: 0.3em;
        text-align: center;
    }

    h3, h2 {
        line-height: 1.2em;
    }
    
}

.work__stages {
    h3 {
        padding: 0.3em;
        text-align: center;
    }
    ul li {
        list-style: circle;
        margin: 1em 2.4em;
    }

}

.background__black {
    background: $black;
}

pre {
    background-color: black;
    font-size: 14px;
    line-height: 1.4;
    overflow-x: auto;
    margin: 2em 0;
    padding: 1em 0;
}

.image__container {
    max-width: 100%;
    height: to_rem(375);
    max-height: 100%;
    min-height: 0;
    overflow: auto;
    border: 1px solid black;
    background: black;
    margin: 2em 0;
}

.image__container svg {
    display: block;
    margin: auto;
    padding: 3em;
}

.image__container svg{
    background: $white;
}

code.language-javascript {
    color: $white;
    font-family: "Courier New", Courier, monospace;
}

iframe {
    width: 100%;
    margin: 1em 0;
    max-height: 80vh;
}


